.navbar {
    width: 800px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #99304a;
    border-radius: 50px;
    position: sticky;
    top: 0;
    z-index: 100;

  }
  
  .navbar__logo {
    display: flex;
    align-items: left;
    gap: 1rem;
    justify-content: left;
  }
  
  .navbar__logo img {
    width: 120px;
    height: auto;
    object-fit: contain;
    justify-content: left;
  }
  
  .navbar__links {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
  
  .navbar__links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  