body {
	background-color: #000000;
	color: #e0e0e0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
.to-do-list {
	background-color: #874e4e;
	font-family: Arial, Helvetica, sans-serif;
	margin: 2rem auto;
	padding: 1.5rem;
	width: 90%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
	text-align: center;
	margin-top: 100px;
}

h1 {
	font-size: 4rem;
}

.completed {
	text-decoration: line-through;
	opacity: 0.6;
	color: #ee0f0f;
}

.text {
	margin: 10px 10px;
  margin-bottom: auto;
	padding: 1px 3px;
	border-radius: 4px;
	border: 1px solid #494363;
	transition: transform 0.2s ease;
	font-size: larger;
}
.text.completed{
	margin: 10px 10px;
  margin-bottom: auto;
	padding: 1px 3px;
	border-radius: 4px;
	border: 1px solid #494363;
	transition: transform 0.2s ease;
	font-size: larger;
}

@media (max-width: 768px) {
  body {
	background-color: rgb(18, 114, 146);
  }
}