body {
  background-color: #ffb39e;
  text-align: center;
}
.to-do-list {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.add-button {
  background-color: #742240;
}

.add-button:hover {
  background-color: #307499;
}

.delete-button {
  background-color: #99304a;
}

.delete-button:hover {
  background-color: #ea7d39;
}

.check-button {
  background-color: #ff7b80;
}

.check-button:hover {
  background-color: #ff7bbf;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: #685e07;
}