body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.to-do-list {
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #307499;
}

.delete-button:hover {
  background-color: #ea7d39;
}

.check-button:hover {
  background-color: #ff7bbf;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  color: #685e07;
}
.home-button:hover{
  background-color: #307499;
  
}
.about-button:hover{
  background-color: #307499;
  
}
.contact-button:hover{
  background-color: #307499;
  
}
.blabla {
  list-style-position: inside;
  padding: 0;
}